# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/env
# dependencies
/FrontEnd/assistant-frontend/node_modules
/FrontEnd/assistant-frontend/.pnp
/FrontEnd/assistant-frontend/.pnp.js

# testing
/FrontEnd/assistant-frontend/coverage

# production
/FrontEnd/assistant-frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*